<!-- 댓글 -->
<div th:fragment="comment" xmlns:th="http://www.thymeleaf.org">

    <div class="card">
        <div class="card-header bi bi-chat-dots" th:if="${comments}" th:text="${#lists.size(comments)}+' 개의 댓글'"></div>
        <ul class="list-group-flush">
            <li class="list-group-item" th:each="comments : ${comments}" th:id="|comment-${comments.id}|">
                        <span>
                            <span style="font-size: small" th:text="${comments.nickname}"></span>
                            <span style="font-size: xx-small" th:text="${comments.createdDate}"></span>
                        </span>
                <button type="button" data-toggle="collapse" th:data-target="|.multi-collapse-${comments.id}|"
                   class="btn btn-primary">수정</button>
                <button type="button" th:onclick="|main.commentDelete(${posts.id},${comments.id})|"
                   class="btn btn-secondary">삭제</button>

                <div th:text="${comments.comment}"></div>

                <form th:class="|collapse multi-collapse-${comments.id}|" method="post">
                    <input type="hidden" id="id" th:value="${comments.id}">
                    <input type="hidden" id="postsId" th:value="${posts.id}">

                    <div class="form-group">
                        <textarea class="form-control" id="comment-content" th:text="${comments.comment}"></textarea>
                    </div>
                    <button type="button" id="btn-comment-update" class="btn btn-outline-primary bi bi-pencil-square">수정완료</button>
                </form>


            </li>
        </ul>
    </div>

    <!-- 댓글 -->
    <br/>

    <div class="card">
        <div class="card-header bi bi-chat-right-dots"> 댓글을 자신을 나타내는 얼굴입니다!! ~.~</div>
        <form>
            <input type="hidden" id="postsId2" th:value="${posts.id}"> <!--CommentsApiController의 {id}값에 들어감-->
            <span th:if="${user}">
                        <div class="card-body">
                            <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="btn-comment-save"
                                    class="btn btn-outline-primary bi bi-pencil-square"> 등록</button>
                        </div>
                    </span>

            <span th:unless="${user}">
                    <div class="card-body" style="font-size: small">
                        <a href="/auth/login">로그인이 필요한 기능입니다.</a>
                    </div>
                </span>
        </form>
    </div>

</div>