<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>
<body>
<h1>게시글 상세보기</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">글 번호</label>
                <!-- input에 값 지정은 value 사용 -->
                <input th:value="${posts.id}" type="text" class="form-control" id="id" readonly>
            </div>
            <div class="form-group">
                <label for="title">제목</label>
                <input th:value="${posts.title}" type="text" class="form-control" id="title" readonly>
            </div>
            <div class="form-group">
                <label for="writer"> 작성자 </label>
                <input th:value="${posts.writer}" type="text" class="form-control" id="writer" readonly>
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <!-- textarea에 값 지정은 text 사용 -->
                <textarea th:text="${posts.content}" type="text" class="form-control" id="content" readonly></textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-primary">목록</a>
        <span th:if="${sameUser}">
                  <a th:href="@{'/posts/update/' + ${posts.id}}" role="button" class="btn btn-secondary">수정</a>
        </span>

        <!-- 댓글 -->
        <div class="card">
            <div class="card-header bi bi-chat-dots" th:if="${comments}" th:text="${#lists.size(comments)}+' 개의 댓글'">
            </div>
            <ul class="list-group-flush">
                <li class="list-group-item" th:each="comments : ${comments}">
                        <span>
                            <span style="font-size: small" th:text="${comments.nickname}"></span>
                            <span style="font-size: xx-small" th:text="${comments.createdDate}"></span>
                            <button class="badge bi bi-pencil-square"> 수정</button>
                            <button class="badge bi bi-trash"> 삭제</button>
                        </span>
                    <p></p>
                    <div th:text="${comments.comment}"></div>
                </li>
            </ul>
        </div>

        <!-- 댓글 -->
        <br/>

        <div class="card">
            <div class="card-header bi bi-chat-right-dots"> Write a Comment</div>
            <form>
                <input type="hidden" id="postsId" th:value="${posts.id}">

                <span th:if="${user}">
                        <div class="card-body">
                            <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="btn-comment-save"
                                    class="btn btn-outline-primary bi bi-pencil-square"> 등록</button>
                        </div>
                    </span>

                <span th:unless="${user}">
                        <div class="card-body" style="font-size: small"><a href="/auth/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.</div>
                    </span>
            </form>
        </div>
    </div>
</div>
</body>
<footer th:replace="layout/footer :: footer"></footer>
</html>