<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header"></head>
<body>
<h2>게시판</h2>
<div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/write" role="button" class="btn btn-primary">글 등록</a>

            <span th:if="${user}">
                  Logged in as: <span id="user" th:text="${user}"></span>
                  <a href="/logout" class="btn btn-info active">로그아웃</a>
            </span>
                    <span th:unless="${user}">
                        <a href="/auth/login" class="btn btn-success" role="button">로그인</a>
                        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                        <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                        <a href="/auth/join" class="btn btn-warning" role="button">회원가입</a>
            </span>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
            <th>조회수</th>
        </tr>
        </thead>

        <tbody id="tbody">
        <tr th:each="posts : ${posts}">
            <td th:text="${posts.id}"></td>
            <td><a th:href="@{'/posts/read/' + ${posts.id}}" th:text="${posts.title}"></a></td>
            <td th:text="${posts.writer}"></td>
            <td th:text="${posts.createdDate}"></td>
            <td th:text="${posts.hit}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징 처리, 검색 기능-->
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${startPage == posts.pageable.pageNumber + 1} ? 'disabled'">
                    <!--페이지는 0부터 시작함-->
                    <a class="page-link"
                       th:href="@{/(page=${posts.pageable.pageNumber - 1}, searchKeyword=${param.searchKeyword})}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${num == posts.pageable.pageNumber + 1} ? 'active'"
                    th:each="num : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" th:href="@{/(page=${num-1}, searchKeyword=${param.searchKeyword})}"
                       th:text="${num}">1</a></li>

                <li class="page-item" th:classappend="${endPage == posts.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{/(page=${posts.pageable.pageNumber + 1}, searchKeyword=${param.searchKeyword})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <form th:action="@{/}" method="get">
        <input type="text" name="searchKeyword"> <!--주소창에 파라미터로 넘겨준다-->
        <button type="submit"> 검색</button>
    </form>


</div>
</body>
<footer th:replace="layout/footer :: footer"></footer>
</html>